image: Visual Studio 2019

environment:
  matrix:
    - host: x86_64-pc-windows-msvc
      channel: nightly
      aarch64: 1
    - host: i686-pc-windows-msvc
      channel: nightly
    - host: x86_64-pc-windows-gnu
      channel: nightly
    - host: i686-pc-windows-gnu
      channel: nightly
    - host: x86_64-pc-windows-gnu
      channel: 1.33.0
    - host: i686-pc-windows-gnu
      channel: 1.33.0

install:
  - appveyor DownloadFile https://win.rustup.rs/ -FileName rustup-init.exe
  - rustup-init.exe -y --default-toolchain %channel% --default-host %host%
  - set CARGO_INCREMENTAL=0
  - set PATH=%PATH%;%USERPROFILE%\.cargo\bin
  - rustc -vV
  - cargo -vV
  - if defined aarch64 (
    rustup target add aarch64-pc-windows-msvc
    )

build_script:
  - if "%channel%"=="nightly" (
    cargo test --verbose --color always --features "func-types impl-default nightly user"
    ) else (
    cargo test --verbose --color always --features "func-types impl-default user"
    )
  - if defined aarch64 (
    cargo test --verbose --color always --features "func-types impl-default nightly user" --target aarch64-pc-windows-msvc --no-run
    )
